html {font-size: 100%;}

body {
	margin: 0;
	padding: 0;
	font-family:'Handlee', cursive, 'Pangolin', cursive, 'Open Sans', sans-serif;
	font-size: 1.05rem;
	line-height: 1.05rem;
	background : #000000;
}

.div-header-picture {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	max-width: 1920px;
}

.header-picture {
	width: 100%;
	height: auto;
}

.first-wrapper {
	position: relative;
	z-index: 1;
	max-width: 1920px;
	margin:0 auto;
}

.second-warpper {
	max-width: 70%;
	margin:0 auto;
	margin-top: -40%;
}

.header, .content, .footer {
	width: 70%;
	float: left;
}

.sidebar {
	width: 30%;
	float: right;
}

.menu-list {
	padding-top: 230px;
	margin-left: 10px;
}

ul {
	list-style: none; /* Скрываем маркеры списка */
}

a {
	color: #800000;
	font-size: 1rem;
	line-height: 1rem;
	text-decoration: none;
}

A:hover {
    text-decoration: underline;/* Делает ссылку подчеркнутой при наведении на нее курсора */
    color: red; /* Цвет ссылки */
   } 

.img-circle {
	display: block;
    width: 15%;
    height: 15%px;
	border: 3px solid white;
    border-radius: 50%;
    margin:0 auto;
}

.avotarka {
	background-image: url("avotarka-picture.jpg");
    height: 100%;
	border-radius: 20px;
	text-align: center;
	padding: 15px;
	margin-bottom: 10px;
}

.avotarka h1 {
	color: #00fff2;
}

.history {
	display: block;
	background: #d9d9d9;
	border-radius: 20px;
	color: #000;
	padding: 25px 15px 25px 15px;
	margin-bottom: 10px;
}

h1, h3 {
	text-align: center;
}

p span {
	font-family:'Marck Script', cursive;
	font-size: 1.3rem;
	line-height: 1.3rem;
}

h1 span {
	font-family:'Marck Script', cursive;
	font-size: 2rem;
	line-height: 2rem;
}

.face {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
    
.copyright {
	color: #f00;
	text-align: right;
    padding-bottom: 10px;
	font-size: 0.6rem;
	line-height: 0.06rem;
}

.scroll-up {
    width: 8%;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgb(107, 107, 107) radial-gradient(150% 100% at 50% 5px, rgba(138, 138, 138, 0.2), rgba(10, 10, 0, 10));
    color: #bdbdbd;
    font-size: 1rem;
	line-height: 1rem;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .2s ease;
    display: none;
}

.scroll-up:hover {
    background: rgb(245, 245, 245) radial-gradient(150% 100% at 50% 5px, rgba(189, 189, 189, 0.2), rgba(10, 10, 0, 10));
	color: #525252;
}
/*------------------------------------------------------------------------*/
main {
	width: 100%;
	height: 100%;
	transition: all .2s ease;
}

.button {
	position: fixed;
	width: 10%;
	height: 4%;
	font-size: 0.8rem;
	line-height: 30px;
	bottom: 20px;
	left: 10px;
	border-radius: 5px;
	background: rgb(107, 107, 107) radial-gradient(150% 100% at 50% 5px, rgba(138, 138, 138, 0.2), rgba(10, 10, 0, 10));
	text-align: center;
	color: #bdbdbd;
	cursor: pointer;
	transition: background .2s ease;
	font-weight: bold;
	text-transform: uppercase;
}

 .button:hover {
    background: rgb(245, 245, 245) radial-gradient(150% 100% at 50% 5px, rgba(189, 189, 189, 0.2), rgba(10, 10, 0, 10));
    color: #525252;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.popup {
	position: absolute;
	width: 30%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background: rgb(245, 245, 245) radial-gradient(150% 100% at 60% 5px, rgba(189, 189, 189, 0.2), rgba(10, 10, 0, 10));
	color: #fff;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

input, textarea {
	width: 80%;
	border-radius: 3px;
	margin: 2px;
}

textarea {
	min-height: 100px;
}

@media screen and (max-width: 768px) {

	.popup {
		width: 100%;
		height: 100%;
		font-size: 0.4rem;
	}
	
	.button {
		width: 100%;
		border-radius: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
	}
	
	.second-warpper{
		max-width: 100%;
		margin: 0;
	}
	
	.header, .content, .footer, .sidebar {
		width: 100%;
		margin: 0;
	}
	
	.menu-list {
		margin: 0;
		padding: 0;
	}
	
	.avotarka, .history{
		border-radius: 3px;
	}
	
	.div-header-picture, .header-picture {
		display: none;
	}
	
	.scroll-up {
		position: absolute;
		margin: 0;
		padding: 0;
		width: 0px;
		height: 0px;
		font-size: 0px;
        line-height: 0px;
	}
	
	h1, h2, h3 {
		font-size: 1.2rem;
		line-height: 20px;
	}
	
	p {
		font-size: 0.8rem;
	}
	
	p span {
		font-size: 1rem;
	}
	
}
